.container{
 background-color: #f2f2f2;
 max-width: 600px;
 min-height: 900px;
 padding-bottom: 40px;
 margin: auto;
 margin-top: 4%;
}

#header{
	padding-top: 3%;
}

#input{	
	width:70%;
	min-height: 200px;
    border-radius: 5px;
    margin: auto;
    margin-left: 10%;
	margin-top: 4%;
}

/* .button {
    width: 60%;
    float: right;
    margin-top: 15px;
} */

input[type=text]{
    width: 98%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 10px;
}

input[type=file]{
    width: 98%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 10px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 3%;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/* #output {
    margin: 20px;
} */

#outputEncrypt {
    width:70%;
    margin: auto;
    margin-top: 10%;
    margin-left: 11%;
}
#outputEncrypt img {
    width: 99%;
    margin-bottom: 4%;
    margin-top: 5%;
}
#outputDencrypt {
    width:68%;
    margin: auto;
    margin-bottom: 3%;
    margin-left:13%;
}

#outputDencrypt textarea {
    margin-top:3px;
    border-radius: 3px;
}

